/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'BrandonGrotesqueBold';
  src: url("../font/BrandonGrotesqueBold/BrandonGrotesque-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../font/BrandonGrotesqueBold/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("../font/BrandonGrotesqueBold/BrandonGrotesque-Bold.woff") format("woff"), url("../font/BrandonGrotesqueBold/BrandonGrotesque-Bold.ttf") format("truetype"), url("../font/BrandonGrotesqueBold/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'CastledownHeavy';
  src: url("../font/CastleDownHeavy/Castledown-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("../font/CastleDownHeavy/Castledown-Heavy.eot?#iefix") format("embedded-opentype"), url("../font/CastleDownHeavy/Castledown-Heavy.woff") format("woff"), url("../font/CastleDownHeavy/Castledown-Heavy.ttf") format("truetype"), url("../font/CastleDownHeavy/Castledown-Heavy.svg#Castledown-Heavy") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* line 41, ../sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #02339f;
}

/* line 49, ../sass/screen.scss */
p {
  font-size: 180%;
  font-family: BrandonGrotesqueBold;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

/* line 56, ../sass/screen.scss */
h1 {
  font-size: 400%;
  font-family: CastledownHeavy;
  -webkit-font-smoothing: antialiased;
}

/* line 63, ../sass/screen.scss */
h2 {
  font-size: 250%;
  text-align: center;
  font-family: CastledownHeavy;
  -webkit-font-smoothing: antialiased;
}

/* line 74, ../sass/screen.scss */
html body {
  font: 100% Helvetica, sans-serif;
}
/* line 76, ../sass/screen.scss */
html body .particle {
  background-position: fixed;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 87, ../sass/screen.scss */
html body #header[data-color="yellow"] {
  background-color: #ffca0e;
}
/* line 90, ../sass/screen.scss */
html body #header[data-color="blue"] {
  background-color: #0cabff;
}
/* line 94, ../sass/screen.scss */
html body #header {
  transition: background-color 1s;
  background-image: url("../img/pattern.png");
  height: calc(100% + 51px);
  width: 100%;
  display: table;
  background-size: 30%;
  background-color: #ffca0e;
}
/* line 103, ../sass/screen.scss */
html body #header img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 30%;
  margin-top: 15%;
}
/* line 112, ../sass/screen.scss */
html body #header canvas {
  background: rgba(250, 250, 250, 0) !important;
  left: 0;
  top: 0;
  position: absolute;
}
/* line 120, ../sass/screen.scss */
html body #header #vague {
  background-image: url("../img/vague.png");
  width: 100%;
  height: 51px;
  background-repeat-y: no-repeat;
  position: absolute;
  bottom: -51px;
}
/* line 130, ../sass/screen.scss */
html body #description {
  width: 100%;
  position: relative;
  line-height: 40px;
  height: 100%;
  padding-top: 25%;
  overflow: hidden;
}
/* line 138, ../sass/screen.scss */
html body #description p {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* line 145, ../sass/screen.scss */
html body #description p:first-child {
  margin-bottom: 50px;
}
/* line 149, ../sass/screen.scss */
html body #description .particles {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
/* line 156, ../sass/screen.scss */
html body #description .particle {
  opacity: 0;
  height: 5%;
  width: 5%;
  background-image: url("../img/circle1.png");
}
/* line 164, ../sass/screen.scss */
html body #description .appear {
  transition: all 2s;
  opacity: 1 !important;
  -webkit-transform: translateY(300px);
  -moz-transform: translateY(300px);
  -o-transform: translateY(300px);
  transform: translateY(10);
}
/* line 174, ../sass/screen.scss */
html body #description .particle:nth-child(1) {
  background-image: url("../img/square1.png");
  margin: -30% 0 0% 14%;
}
/* line 181, ../sass/screen.scss */
html body #description .particle:nth-child(2) {
  background-image: url("../img/circle2.png");
  margin: -15% 0 0% 16%;
}
/* line 187, ../sass/screen.scss */
html body #description .particle:nth-child(3) {
  background-image: url("../img/square3.png");
  margin: -35% 0 0% 11%;
}
/* line 193, ../sass/screen.scss */
html body #description .particle:nth-child(4) {
  background-image: url("../img/triangle1.png");
  margin: -20% 0 0% 15%;
}
/* line 199, ../sass/screen.scss */
html body #description .particle:nth-child(5) {
  background-image: url("../img/circle1.png");
  margin: -25% 0 0% 82%;
}
/* line 205, ../sass/screen.scss */
html body #description .particle:nth-child(6) {
  background-image: url("../img/square2.png");
  margin: -32% 0 0% 88%;
}
/* line 211, ../sass/screen.scss */
html body #description .particle:nth-child(7) {
  background-image: url("../img/square3.png");
  margin: -30% 0 0% 91%;
}
/* line 217, ../sass/screen.scss */
html body #description .particle:nth-child(8) {
  background-image: url("../img/triangle2.png");
  margin: -20% 0 0% 83%;
}
/* line 224, ../sass/screen.scss */
html body #team {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 230, ../sass/screen.scss */
html body #team .particle {
  height: 2%;
  width: 2%;
}
/* line 236, ../sass/screen.scss */
html body #team .appear {
  transition: all 1s;
  opacity: 1 !important;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(12);
}
/* line 245, ../sass/screen.scss */
html body #team .particle:nth-child(1) {
  background-image: url("../img/circle1.png");
  margin: -8% 0% 8% 63%;
}
/* line 250, ../sass/screen.scss */
html body #team .particle:nth-child(2) {
  background-image: url("../img/square1.png");
  margin: -4% 0% 0% 66%;
}
/* line 255, ../sass/screen.scss */
html body #team .particle:nth-child(3) {
  background-image: url("../img/triangle1.png");
  margin: 0% 0% 0% 32%;
}
/* line 260, ../sass/screen.scss */
html body #team .particle:nth-child(4) {
  background-image: url("../img/circle1.png");
  margin: -7% 0% 1% 35%;
}
/* line 265, ../sass/screen.scss */
html body #team ul {
  text-align: center;
  margin-top: 5%;
}
/* line 270, ../sass/screen.scss */
html body #team ul li {
  margin: 0% 2% 5% 2%;
  display: inline-block;
}
/* line 274, ../sass/screen.scss */
html body #team ul li img {
  width: 168px;
  height: 168px;
}
/* line 279, ../sass/screen.scss */
html body #team ul li a {
  display: block;
  margin-top: 15%;
}
